<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/angular.min.js"></script>
    <script>
         var app=angular.module("app",[]);
        app.controller("oneController",["$scope",function($scope){
            $scope.first=0;
            $scope.second=0;
            $scope.last=0;
            $scope.add=function(){
                $scope.last= (+$scope.first) + (+$scope.second);
            }
        }]);

    </script>
</head>
<body ng-controller="oneController">
             1:<input type="text" ng-model="first">
             2:<input type="text" ng-model="second">
             3:<button id='btn' ng-click="add()">点击</button>
　　　　　　 4:<input type="text" ng-model="last">
         {{last}}

</body>
</html>